html, body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
}

.content-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  min-height: 150px;
}

p.title.people-title:not(:last-child){
  margin: 0 20px;
}

.time{
  text-align: center;
}